# Ignore Python virtual environments
venv/
env/
__pycache__/
*.pyc

# Ignore VS Code settings and extensions
.vscode/
.vscode/extensions/

# Ignore OS files
.DS_Store

# Ignore model weights
*.pt

# Ignore cache
*.cache/
